body{
    padding-top: 60px;
    background-color: #eaeff0;
}

#titulo{
    padding-top: 110px;
}

#formulario{
    padding-top: 80px;
}

.footer{
    background-color: #303036;
    color: #ffffff;
}


.footer .final{
    background: #343040;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 12px;
}

#conteudo{
    padding-top: 10px;
}

#link{
    padding-top: 10px;
}

#link a{
    margin-right: 120px;
    margin-left: 120px;
    padding-bottom: 20px;
}

.card{
    border-radius: 3%;
    box-shadow: 0 0 1em black;
}